
<h2> </h2>
<%= simple_form_for @shopper, url: shoppers_path, method: :post do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" id="form-inputs-default-radius">

  <%= f.input :default_radius, label: false, collection: 1..5, required: true, prompt:"en km" %>

  </div>

  <div>
    <%= f.button :submit, "J'y go now!", :class => "jygobutton"%>
  </div>
<% end %>


