<br>
<br>
<h1></h1>





<div class="container">
        <div class="modal-dialog deliveries">
            <div class="modal-content">
                <div class="modal-body">
                <center>

                  <h1 class="modal-title" id="myModalLabel">Devenir shopper </h1>

                  <%= render partial: "form" %>
                  </center>
                </div>
                <!-- <div class="modal-footer">
                    <center>
                    </center>
                </div> -->
             </div>
        </div>
</div>
