<%= @order.user.username %> vous a choisi <br>
pour une course <%= @order.date %> <br>
<br>
<h3>Acceptez vous la course?</h3>
<button class="btn-default">Oui</button><button class="btn-default">Non</button>
