<!-- app/views/shared/_notices.html.erb -->

<% if notice %>
<div class="modal-dialog notices">
<div class="modal-dialog">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="btn btn-default btn-xs pull-right" data-dismiss="alert" ><span class="glyphicon glyphicon-remove"></span></button>
    <%= notice %>
  </div>
</div>
</div>
<% end %>
<% if alert %>
<div class="modal-dialog notices">
<div class="modal-dialog">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <%= alert %>
    <button type="button" class="btn" data-dismiss="alert" ></button>
  </div>
</div>
</div>
<% end %>