<div class="wizard">
    <div class="wizard-inner">
        <ul class="nav nav-tabs" role="tablist">
    <div class="connecting-line <% if (controller_name == "shoppers" || "orders") && (controller_name != "searchs")%> active <% end %>" style="margin-left:170px;"></div>
    <div class="connecting-line <% if controller_name == "orders" %> active <% end %>" style="margin-left:437px;"></div>
    <div class="connecting-line <% if controller_name == "orders" && action_name == "show" %> active <% end %>" style="margin-left:704px;"></div>

            <% if controller_name == "searchs" %>
            <li role="presentation" class="active">
            <!-- <div style="width:0;height:0;border-top:60px solid transparent;border-bottom:60px solid transparent;border-left:60px solid transparent;" -->
            <% else  %>
            <li role="presentation" class="disabled">
            <% end  %>
                <a href="#step1" aria-controls="step1" role="tab" title="Step 1">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-calendar white"></i>
                    </span>
                </a>
                <center>
                        <p class="text-muted">Choix de Date<% puts params[:controller].to_s %></p>
                </center>
            </li>

            <% if controller_name == "shoppers" %>
            <li role="presentation" class="active">
            <% else  %>
            <li role="presentation" class="disabled">
            <% end  %>
                <a href="#step2" aria-controls="step2" role="tab" title="Step 2">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-user white"></i>
                    </span>
                </a>
                <center>
                        <p>Trouver Shopper</p>
                </center>        
            </li>
            <% if controller_name == "orders" && action_name == "edit" %>
            <li role="presentation" class="active">
            <% else  %>
            <li role="presentation" class="disabled">
            <% end  %>
                <a href="#step3" aria-controls="step3" role="tab" title="Step 3">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-list-alt white"></i>
                    </span>
                </a>
                <center>
                        <p>Faites votre Liste</p>
                </center>        
            </li>

            <% if controller_name == "orders" && action_name == "show" %>
            <li role="presentation" class="active">
            <% else  %>
            <li role="presentation" class="disabled">
            <% end  %>
                <a href="#complete" aria-controls="complete" role="tab" title="Complete">
                    <span class="round-tab">
                        <i class="glyphicon glyphicon-thumbs-up white"></i>
                    </span>
                </a>
                <center>
                    <p>Recevez !</p>
                </center>
            </li>
        </ul>
    </div>
</div>
