<div class= "text-center">
<h1 > Bienvenu sur Jygo!!</h1>

<h2>vous pouvez proccéder à votre commande si un shopper est libre</h2>
</div>
<div >
<a href="users/sign_up" class="btn btn-primary btn-lg active" role="button">Sign up</a>
</div>
<div>
<a href="users/sign_in" class="btn btn-default btn-lg active" role="button">Login</a>
</div>


