<section id="accueil">
	<div class="intro-text">
		<h1>Jygo</h1>

		<h3 >Trouvez un Shopper près de chez vous !</h3>

			<form action="/not_available">
				<input type="text" placeholder="Code Postal">
				<button type="submit">J'y Go!</button>
			</form>
	</div>
</section>

<section id="contact">
	<div class="contact-box">		
		<h1>Contact Info</h1>
	</div>
	
</section>

<section id="team">
	<div class="team-box">
		<h1>Team</h1>
		
		<ul>
			<li>Julian</li>
			<li>Augusto</li>
			<li>Florian</li>
			<li>Thomas</li>
		</ul>	
	</div>
	
</section>