<section id="accueil">

  <div>
	<div class="intro-text">
		<h1>Jygo</h1>

		<h3 >Trouvez un Shopper près de chez vous !</h3>

			<form action="/not_available">
				<input type="text" placeholder="Code Postal">
				<button type="submit">J'y Go!</button>
			</form>
	</div>

  </div>

</section>

<section id="what">
	<div class="what-box">
		<h1>What</h1>
	</div>

</section>

<section id="why">
	<div class="why-box">
		<h1>Why</h1>
	</div>

</section>
