<section class="accueil">

<a href="#accueil">
<h1 class ="text-center"> Jygo </h1>
</a>

<h3 class="text-center">Trouvez un Shopper près de chez vous :</h3>

	<container class="text-center">

		<form action="/not_available">
		  <div class="form-group text-center">
		    <label for="zip-code">Code Postal</label>
		    <input type="text" class="form-control text-center" name="zip_code" id="zip-code" style=" width: 150px; margin: 0 auto"placeholder="Code Postal">
		  </div>
		  <button type="submit"class="btn btn-primary">J'y Go!</button>
		</form>

	</container>
</section>

<section class="contact">
	<div>		
		<a hrel="#contact">
			<h1>Contact Info</h1>
		</a>
	</div>
	
</section>

<section class="team">
	<div>
		<a href="#team">
			<h1>Team</h1>
		</a>
		<ul>
			<li>Julian</li>
			<li>Augusto</li>
			<li>Florian</li>
			<li>Thomas</li>
		</ul>	
	</div>
	
</section>