<section id="accueil">
  <div class="well margin-left-right-30 rounded">
	<div class="intro-text text-center">
		<h1>Jygo</h1>

		<h3 >Trouvez un Shopper près de chez vous !</h3>

			<form class = "text-center" action="/not_available">
				<input type="text" placeholder="Code Postal">
				<button class = "text-center margin-centered-top-1" type="submit">J'y Go!</button>
			</form>
	</div>
  </div>
</section>

<section id="contact">
	<div class="contact-box">
		<h1>Contact Info</h1>
	</div>

</section>

<section id="team">
	<div class="team-box">
		<h1>Team</h1>

		<ul>
			<li>Julian</li>
			<li>Augusto</li>
			<li>Florian</li>
			<li>Thomas</li>
		</ul>
	</div>

</section>
