<section id="accueil">

  <div>
	<div class="intro-text">
		<h1>Jygo</h1>

		<h3 >Trouvez un Shopper près de chez vous !</h3>

			<form action="/not_available">
				<input class='input-home' type="text" placeholder="Code Postal">
				<button type="submit">J'y Go now!</button>
			</form>
	</div>

  </div>

</section>

<section id="what">
	<h1 id="what-title">Comment ça marche ?</h1>
		<div class="what-box">
			<ul>
				<div class="row">
			        <div class="col-xs-4">
						<li>
							<img src="https://i.imgur.com/J07qp8X.png">
							<h5><strong>1ère étape</strong></h5>
							<p>Trouvez un shopper prêt de chez vous selon vos critères et vos envies.</p>
						</li>
					</div>
					<div class="col-xs-4">
						<li>
							<img src="https://i.imgur.com/u3HXBEi.png">
							<h5><strong>2ème étape</strong></h5>
					        <p> Choisissez exactement les produits que vous désirez et envoyez votre liste au shopper.</p>
						</li>
					</div>
					<div class="col-xs-4">
						<li>
							<img src="https://i.imgur.com/V3vtk8t.png">
							<h5><strong>3ème étape</strong></h5>
		        			<p> Votre shopper se rendra chez vos commerçants préférés, sélectionnera  et vous livrera à l'horaire convenu.</p>
						</li>
					</div>
				</div>
			</ul>
		</div>

</section>

<section id="boutique">
  <h1 id="boutique-title">La boutique du mois</h1>
    <div class="boutique-box">
    </div>
</section>

<section id="why">
	<h1 id="why-title">Pourquoi nous sommes les meilleurs ?</h1>
	<div class="why-box">
		<ul>
			<div class="row">
			   	<div class="col-xs-4">
					<li>
						<img src="https://i.imgur.com/3PUBXUW.png">
						<h5><strong>Un système local</strong></h5>
		         		<p> Vos shoppers sont aussi vos propres voisins. Ils profitent de leur temps libre pour vous rendre service. </p>
					</li>
				</div>
		        <div class="col-xs-4">
					<li>
						<img src="https://i.imgur.com/JdsBSOJ.png">
		        		<h5><strong>Les meilleurs produits</strong></h5>
		        		<p> Les produits que vous trouverez dans votre panier sont sélectionnés avec amour par vos commerçants ainsi que votre shopper.  </p>
					</li>
				</div>
		        <div class="col-xs-4">
					<li>

						<img src="https://i.imgur.com/ZFaeAxd.png">
		        		<h5><strong>Un service sur-mesure</strong></h5>
		        		<p> Faîtes vous livrer les produits que vous souhaitez quand vous le souhaitez grâce à notre service 100% collaboratif. </p>
					</li>
				</div>
			</div>
		</ul>
	</div>

</section>

<section id="about">
	<h1 id="about-title">About</h1>
</section>
