<h1>Bienvenu sur le site de Jygo</h1>

<h3>pour savoir si un membre de la communauté jygo est présent dans votre arrondissement, veuillez mettre votre code postal dans le champs suivant.</h3>

<form>
  <div class="form-group">
    <label for="zip-code">Code Postal</label>
    <input type="zip-code" class="form-control" id="zip-code" placeholder="Code Postal">
  </div>
  <button type="submit" class="btn btn-default">J'y Go!</button>
</form>
