<section id="accueil">

  <div>
	<div class="intro-text">
		<h1>Jygo</h1>

		<h3 >Trouvez un Shopper près de chez vous !</h3>

			<form action="/not_available">
				<input type="text" placeholder="Code Postal">
				<button type="submit">J'y Go!</button>
			</form>
	</div>

  </div>

</section>

<section id="contact">
	<div class="contact-box">
		<h1>Contact Info</h1>
	</div>

</section>

<section id="team">
	<div class="team-box">
		<h1>Team</h1>

		<ul>
			<div class="team-member"><li>Julian</li></div>
			<div class="team-member"><li>Augusto</li></div>
			<div class="team-member"><li>Florian</li></div>
			<div class="team-member"><li>Thomas</li></div>
		</ul>
	</div>

</section>
