<section id="accueil">

  <div>
	<div class="intro-text">
		<h1>Jygo</h1>

		<h3 >Trouvez un Shopper près de chez vous !</h3>

			<form action="/not_available">
				<input type="text" placeholder="Code Postal">
				<button type="submit">J'y Go!</button>
			</form>
	</div>

  </div>

</section>

<section id="contact">
	<div class="contact-box">
		<h1>Contact Info</h1>
	</div>

</section>

<section id="team">
	<div class="team-box">
		<h1>Team</h1>

      <div class="col-md-6 team-member"><h3>Julian</h3></div>
      <div class="col-md-6 team-member"><h3>Florian</h3></div>
      <div class="col-md-6 team-member"><h3>Augusto</h3></div>
			<div class="col-md-6 team-member"><h3>Thomas</h3></div>
	</div>

</section>
