<div class="my-container">

<h1 class ="text-center">
  Bienvenu sur le site de Jygo
</h1>

<h3 class="text-center">pour savoir si un membre de la communauté jygo est présent dans votre arrondissement, veuillez mettre votre code postal dans le champs suivant.</h3>
<container class="text-center">
<form action="/not_available">
  <div class="form-group text-center">
    <label for="zip-code">Code Postal</label>
    <input type="text" class="form-control text-center" name="zip_code" id="zip-code" style=" width: 150px; margin: 0 auto"placeholder="Code Postal">
  </div>
  <button type="submit"class="btn btn-primary">J'y Go!</button>

</form>
</container>
</div>

