<section class="accueil">

	<a name="accueil"><h1>Jygo</h1></a>

	<h3 >Trouvez un Shopper près de chez vous !</h3>

	<container >
		<form action="/not_available">
			<input type="text" placeholder="Code Postal">
			<button type="submit"class="btn btn-primary">J'y Go!</button>
		</form>
	</container>
	
</section>

<section class="contact">
	<div>		
		<a name="contact">
			<h1>Contact Info</h1>
		</a>
	</div>
	
</section>

<section class="team">
	<div>
		<a name="team">
			<h1>Team</h1>
		</a>
		<ul>
			<li>Julian</li>
			<li>Augusto</li>
			<li>Florian</li>
			<li>Thomas</li>
		</ul>	
	</div>
	
</section>