<div class="container" style="padding-top: 150px;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class= "text-center" > Too Bad !!!</h1>
			</div>
		</div>
	</div>
</div>