<div class="container" style="padding-top: 150px;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class= "text-center" style="margin:30px;"> Bientôt chez vous !</h1>
				<h6 class= "text-center" style="margin:20px;"> Laissez-nous votre mail, vous serez prévenus dès que des shoppers sont disponibles dans votre quartier.</h6>
				<center>
					<input id="" name="" type="text" placeholder="email" class="form-control input-md" style="margin:10px;">
				</center>
			</div>
		</div>
	</div>
</div>