 <div class="container">
        <div class="modal-dialog order-summary">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Merci d'avoir utilisé JYGO!</h2>
                </div>
                <div class="modal-body">
                    <center>
                    <img src="https://image.freepik.com/free-icon/man-holding-shopping-basket_318-46783.png" name="aboutme" width="140" height="140" border="0" class=""></a>
                    <h3 class="media-heading"><small> </small></h3>
                    <br>
                    <br>
                    <h4>Les détails de votre commande vous ont été envoyés par mail</h4>

                    <span><strong></strong></span>
                        <div class="row">
                          <div class="col-sm-6">
                          </div>
                          <div class="col-sm-6">
                          </div>
                        </div>
                    </center>
                    <hr>
                </div>
            </div>

        </div>
</div>
