<%= render 'shared/roadmap_order' %>
 <div class="container">
        <div class="modal-dialog order-summary">
            <div class="modal-content">
                <div class="modal-header">
                  <center>
                    <h2 class="modal-title" id="myModalLabel">Merci d'avoir utilisé <span class="brand-name">Jygo</span> !</h2>
                    </center>
                </div>
                <div class="modal-body">
                    <center>
                    <img src="https://i.imgur.com/AY9P8Qj.png" name="aboutme" width="140" height="140" border="0" class=""></a>
                    <h3 class="media-heading"><small></small></h3>
                    <br>
                    <br>
                    <h4>Les détails de votre commande vous ont été envoyés par mail</h4>
                    <br>
                    <br>
                    <%= link_to "Mes détails", user_path, class: "jygobutton root" %>
                    <%= link_to "Page d'accueil", root_path, class: "jygobutton root" %>

                    <span><strong></strong></span>
                        <div class="row">
                          <div class="col-sm-6">
                          </div>
                          <div class="col-sm-6">
                          </div>
                        </div>
                    </center>
                </div>
            </div>

        </div>
</div>
