@import "utilities";
@import "footer";
@import "navbar";
@import "side_bar";
@import "carousel";



// Sections ------------------------------------------------------------------
.accueil{
  padding-top: 50px;
  height: 100vw;
  background-image: url(panier.jpg);
  background-size: cover;
  color: white;
}

.contact{
  height: 100vw;
  border: 2px solid black;
}

.team{
  height: 100vw; 
  border: 2px solid red;
}

