@import "utilities";
@import "footer";
@import "navbar";
@import "side_bar";
@import "carousel";


// Globals -------------------------------------------------------------------

h1{
  margin: 0;
  text-decoration: none;
}



// Sections ------------------------------------------------------------------
#accueil{
  height: 100vw;
  width: 1140px;
  padding: 90px;
  margin-right: 0px;
  background-image: url(http://i.imgur.com/mtmzfsJ.jpg);
  background-size: cover;
  color: #00458A;
  background-color: #E7C4B4;

  .intro-text{
    margin-top: 50px;
    margin: 0 auto;
    background-color :rgba(255,255,255, 0.5);

    input{
      border: 1px solid black;
      border-radius: 3px;
      padding: 5px;
    }

    button{
      height: 40px;
      width: 100px;
      display: block;
      margin-top: 10px;
      background-color: transparent;
      border: 3px solid #00458A;
      border-radius: 3px;
      color: #00458A;
      transition: 0.3s;
      &:hover{
        background-color: #00458A;
        color: aliceblue;
      }
    }

  }
}

#contact{
  height: 60vw;
  padding: 90px;
  background-color: #00458A;
  color: white;
}

#team{
  height: 60vw;
  padding: 90px;
  background-color: #00458A;
  color: white;
}


// Padding for body in layout
.body-padding {
  padding-top: 33px;
}

