/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 19px;
  text-align: center;
  color: white;
  &-info {
    background: $green;
  }
  &-warning {
    background: $red;
  }
}
