// Place all the styles related to the availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-dialog.new-availability{
	padding-top: 100px;
}

.jygobutton.root{
  width: 325px;
  margin-bottom: 16px;
}
