// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-frame {
  height:160px;
  width:160px;
}

.modal-dialog.order{
	min-width: 800px;
}


.row{
	padding-top: 5px;
	padding-bottom: 5px;
}

.order-section{
	margin: 10px 0;
	padding: 0 5px;
}
.chosen{
	border: solid 2px rgba(210,210,255, 0.25);
	background-color: rgba(240,248,255, 0.8);
	.chosen-products-labels{
		font-size: 1.3em;
	}
	.chosen-product{    // << NOT chosen-productS (this is not a row)
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.current-selection{
	border: solid 2px rgba(154,205,50, 0.2);
	background-color: rgba(154,205,50, 0.1);
	.products-choices-labels{
		font-size: 1.3em;
	}
	.product-selection{
		select{
			width: 100%;
		}
	}
}

.summary{
	border: solid 2px rgba(255, 99, 71, 0.1);
	background-color: rgba(255, 99, 71, 0.1);
	.prices-labels{
		font-size: 1.3em;
	}
}



.deliveries{
	padding-top:150px;
	width: 900px;
}

.order-summary{
	// padding-top:50px;
	font-family: "Raleway", "Helvetica", "sans-serif";
	color: #FFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-size: cover;
	.brand-name{
		font-weight: 800;
	}
	.modal-header{
		border: none;
	}
	.modal-content{
		background: transparent;
	}
}

.order-button{
  margin: 0;
    border: none;
    background-color: #2ecc71;
    border-radius: 20em;
    padding: 23px;
    color: white;
    font-weight: bold;
    display: block;
    transition: 0.3s;
    width: 210px;
}

.jygobutton.root{
  width: 325px;
  margin-bottom: 16px;
}
