// Place all the styles related to the searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-button {
    margin: 0;
    border: none;
    background-color: #2ecc71;
    border-radius: 20em;
    padding: 23px;
    color: white;
    font-weight: bold;
    display: block;
    transition: 0.3s;
}
