// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
	margin-top: 50px;
	padding: 20px;

	h1{
		margin: 20px;
	}
}

.imgcropper{
	width: 100px;
	height: 100px;
	margin: 0 0;
	position: relative;	
	overflow: hidden;
	border: solid black 2px;
	border-radius: 100%;
	display: inline-block;

	img{
		display: inline;
		margin: 0 auto;
		height: 100px;
		width: auto;
	}
}

#profilecard{
	background-color: aliceblue;
}

ul{
	list-style: none;
	display: inline-block;

	li{
		span{
			color: tomato;
		}
	}
}