// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .modal-dialog{
// 	padding-top: 150px;
// }

.img-circle{
	margin-bottom: 10px;
}

.skills{
	list-style-type: none;
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0;
	&.left{
		li{
			margin: 4px;
		}
	}
	&.right{
		li{
			margin: 4px;
		}
	}
}