// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// Globals -------------------------------------------------------------------

h1{
  margin: 0;
  text-decoration: none;
}



// Sections ------------------------------------------------------------------
#accueil{
  height: 100vh;
  width: 100%;
  padding: 110px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.imgur.com/66nKj6x.jpg);
  background-size: cover;
  color: white;

  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    white;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    white;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    white;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    white;
  }

  .intro-text{
    margin-top: 50px;
    margin: 0 auto;

    form {
      display: flex;
    }

    h1 {
      justify-content: center;
      font-size: 80px;
      font-weight: 900;
    }

    h3 {
      padding: 35px 0px;
      margin: 0;
    }

    input{
      border: 4px solid white;
      background-color: transparent;
      outline: 0;
      padding: 20px;
      border-radius: 20em;
      text-align: left;

    }

    button{
      margin: 0;
      border: none;
      background-color: #2ecc71;
      border-radius: 20em;
      padding: 23px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 20px;
      display: block;
      transition: 0.3s;
      &:hover{
        background-color: #27ae60;

      }
    }

  }
}

#what{
  height: 100vh;
  background-color: white;
  color: black;

  #what-title{
    margin: 90px 0 0 90px;
    display: inline-block;
  }

  .what-box{
    margin: 120px auto;
    display: table; // Allows list items centering to work

    ul{
      height: 150px;
      list-style: none;
      padding: 0;
      margin: 0 auto;

      li{
        height: inherit;
        display: inline-block;
        text-align: center;

        svg{
          margin: 0 auto;
        }
      }
    }
  }
}

#boutique{
  height: 85vh;
  background-color: #A9DB83;
  color: white;
    #boutique-title{
       margin: 90px 0 0 90px;
        display: inline-block;
      }

      .boutique-box{
      margin: 60px auto;
      display: table; // Allows list items centering to work

      ul{
        height: 90px;
        list-style: none;
        padding: 0;
        margin: 0 auto;

        li{
          height: inherit;
          display: inline-block;
          text-align: center;
          margin-right: 100px;

          svg{
            margin: 0 auto;
          }
        }
      }
    }
    }

#why{
  height: 120vh;
  background-color: white;
  color: black;

  #why-title{
    margin: 90px 0 0 90px;
    display: inline-block;
  }

  .why-box{
  margin: 120px auto;
  display: table; // Allows list items centering to work

  ul{
    height: 120px;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li{
      height: inherit;
      display: inline-block;
      text-align: center;

      svg{
        margin: 0 auto;
      }
    }
  }
}
}

#about{
  height: 50vh;
  background-color: grey;

  #about-title{
    margin: 50px 0 0 50px;
    display: inline-block;
  }
}
