<h3>Chercher un shopper</h3>

    <!-- <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Le
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Jour-Même</a></li>
      <li><a href="#">Lendemain</a></li>
      </ul>
    </div>
    <div class = "slideDown">
      <h3>entre</h3>
        <input type="time" name="entre">
      <h3>et</h3>
        <input type="time" name="et">
    </div> -->
    <%= render partial: "availabilities/search_shopper" %>
